# AccessTransformers are highly discouraged and should be a last resort.
# Accessors and Bridge (Duck) mixins are much prefered and should be your goal to attempt before adding ATs.
# If you feel there is no other alternative to creating an access transformer, speak with the Sponge team to absolutely verify there is no other way.

public net.minecraft.entity.monster.PhantomEntity$AttackPhase
public net.minecraft.entity.passive.fish.TropicalFishEntity$Type
public net.minecraft.world.raid.Raid$Status
public net.minecraft.network.login.ServerLoginNetHandler$State
public net.minecraft.server.management.IPBanList func_152707_c(Ljava/net/SocketAddress;)Ljava/lang/String; #addressToString